[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
sqlalchemy = "*"
numpy = "*"
flask-sqlalchemy = "*"
flask = "*"
tweepy = "*"
spacy = "*"
python-dotenv = "*"
scikit-learn = "*"
sklearn = "*"
psycopg2 = "*"
gunicorn = "*"
heroku = "*"

[dev-packages]

[requires]
python_version = "3.10"
